!!! 5
html
  head
    include head.jade
    block head
  body
    include navigation.jade
    .container
      .page-header
        .clearfix
          block page_title
      br
      .clearfix
        .container
          block body

    include footer.jade