#footer(style='margin-top: 50px; padding-top: 20px; padding-bottom: 30px;')
  .container
    .col-md-3
      p
        a(href='/') Home
    .col-md-3
    .col-md-6
      span.pull-right MorseCode Incorporated &copy; 2017
