extends /layout/default

block body
  block content
    h1 hello there
    h2= loginform

    - var json= loginform
    - for (var key in json)
      p key:#{key} value:#{json[key]}
      p hello

    h1 hello there
