mixin usernameField
    include fields/username
mixin passwordField
    include fields/password

.container
    form(name="login", action="POST", target="/welcome-login")
        table.table
            tr.table-row-cell
                td.table-cell.text-field Username:
                td.table-cell
                    +usernameField
                td.table-cell Password:
                td.table-cell.text-input
                    +passwordField
                td.table-cell
                    input(type="submit", name="login", value="login")
