mixin usernameField
    include fields/username
mixin passwordField
    include fields/password

.container
    form(name="login", method="POST", action="/welcome-login")
        input(type="hidden", name="#{_csrf.parameterName}", value="#{_csrf.token}")
        table.table
            tr.table-row-cell
                td
                    | Username:&nbsp;
                    +usernameField
                td
                    | Password:&nbsp;
                    +passwordField
                td
                    input(type="submit", name="login", value="login")
